@media(max-width: 768px) {
	#main{display:none;}
	.wrap {
		max-width: 100%;
		margin: 0;
	}

  .nav-bar-mobile-bar{
	       		width: 160px;
	       		position: absolute;
	       		top: 101px;
	       		left: 0;
	       }
	       
      .nav-bar-mobile-bar ul {
	        padding: .5em;
	        margin: 0;
          background: #3b5998;
	     }		
	       
	       li {
		         margin: 0;
		         padding: 0;
		         display: block;
	        }
       			
	           li a {
		           padding: 0.5em 0 0.5em 0;
		           display: block;
               color: #FFF;
	           }
  
            
	      .nav-toggle {
	       		position: absolute;
	       		top: 0px;
	       		right: -44px;
				color: #FFF;
	       		cursor: pointer;
	       		width: 46px;
	       		height: 40px;
	       		z-index: 1000;
	       		display: inline-table;
	       		background: #3b5998;
	       		padding: 12px 6px 6px 20px;
	       }

    #login-tela {
	left:0%;
	width:100%;
	margin: -55px 0px;
	padding: 0%;
	}
	
}
@media(min-width:768px){
	#mobile-bar{display:none;}
	
	#wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }

    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #0288d1;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
		color: white;
    }

	.color{
		color:white;
	}
	
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;/*Mudar a cor quando o mouse estiver em cima da opção*/
	}

	.side-nav>li>ul {
		padding: 0;
		
	}

	.side-nav>li>ul>li>a {
		display: block;
		padding: 10px 15px 10px 38px;
		text-decoration: none;
		color: white;
	}

	.side-nav>li>ul>li>a:hover {
		color: white;
	}

	/* Flot Chart Containers */

	.flot-chart {
		display: block;
		height: 400px;
	}

	.flot-chart-content {
		width: 100%;
		height: 100%;
	}

	/* Custom Colored Panels */

	.huge {
		font-size: 40px;
	}

	.panel-green {
		border-color: #5cb85c;
	}

	.panel-green > .panel-heading {
		border-color: #5cb85c;
		color: #fff;
		background-color: #5cb85c;
	}

	.panel-green > a {
		color: #5cb85c;
	}

	.panel-green > a:hover {
		color: #3d8b3d;
	}

	.panel-red {
		border-color: #d9534f;
	}

	.panel-red > .panel-heading {
		border-color: #d9534f;
		color: #fff;
		background-color: #d9534f;
	}

	.panel-red > a {
		color: #d9534f;
	}

	.panel-red > a:hover {
		color: #b52b27;
	}

	.panel-yellow {
		border-color: #f0ad4e;
	}

	.panel-yellow > .panel-heading {
		border-color: #f0ad4e;
		color: #fff;
		background-color: #f0ad4e;
	}

	.panel-yellow > a {
		color: #f0ad4e;
	}

	.panel-yellow > a:hover {
		color: #df8a13;
	}
}

/*------------------------------------CSS das telas do menu em @media------------------------------------------*/
@media (max-width: 767px) {
	#tela{
		width:100%;		
		position:relative;
		margin: 30% 0px 0px 5px;
	}
	.tela-lista{
		display: table;
		width: 50%;
		position: relative;
		margin: 10px 0px 0px 0%;
	}
	#file-prestador{
		left: 100%;
		top:470px;
		position: absolute;
	}
	#tela-inicial{
		margin: 5px -180px;	
	}
	#tela-inicial h1{
		font-size: 40px;
	}
	#tela-inicial img{
		width:55%;
		margin: 0px 0px 0px -20%;
	}
	
}/*480*/
@media (min-width: 768px) and (max-width: 991px) {
	#tela{
		width: 70%;
		margin: 0px 0px 0px 225px;
	}
	.tela-lista{
		display: table;
		width: 100%;
		position: relative;
		margin: 10px 0px 0px 10%;
	}
}/*481 -> 780*/
@media (min-width: 992px) and (max-width: 1200px){
	.tela-lista{
		display: table;
		width: 100%;
		position: relative;
		margin: 10px 0px 0px 22%;
	}	
	#tela{
		width: 77%;
		margin: 0px 0px 0px 225px;
	}
	#file-prestador{
		left: 102%;
		top:430px;
		position: absolute;
	}
}
