@charset utf-8 css;
/*----------------------------------- Menu CSS -------------------------------*/
body {
    background-color: white;
	font-family: roboto;
	margin-top: 50px;
}
#wrapper {
    padding-left: 0;
}
#page-wrapper {
    width: 100%;
	height:100%;
    padding: 0;
    background-color: #fff;
}
.huge {
    font-size: 50px;
    line-height: normal;
}
.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: white;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;/*Mudar a cor quando o mouse estiver em cima da opção*/
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}
/*-----------------------------------CSS tela-inicial CSS---------------------------*/
.login-tela{
background-color: white;
width:480px;
left:32%;
top: 18%;
height:73%;
position: absolute;
border-radius: 10px;
font-size: 18px;
text-align: center;
}
/*CSS da logomarca dentro da caixa de login*/
form[role=login] img{/*subtituir o tipo da tag em que foi colocado a logomarca*/
	display: block;
	margin: 0 auto;
	margin-top: 5%;
}
form[role=login] input,
form[role=login] button {
	font-size: 18px;
	margin: 16px 0;
}
form[role=login] > div {
	text-align: center;
}
/*-----------------------------------CSS tela-inicial CSS---------------------------*/
.tela-inicial{
	width:480px;
	left: 50%;
	position: absolute;
	text-align:center;
	margin: 5px -140px;
}
.tela-inicial img{
	width:75%;
}
.tela-inicial h1{
	font-size: 50px;
	position: relative;
	bottom: 10px;
	font-family: Roboto;
}
/* ---------------------------------- Telas do Menu ------------------------------------------------*/
.tela-lista{
	margin: 10px 0px 0px 17%;
}
.foto-prestador{
	margin: 0 auto;
	width: 33%;
}
.tela{
	display: table;
	width: 50%;
	position: relative;
	margin: 0 0 0 225px;
}
.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}
/*--------------------------------------*/
/* checkbox  */
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 40%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 1em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #0288d1;
}
